body {
    background-color: antiquewhite;
}

#wrapper {
    border: 4px solid grey;
    border-radius: 1em;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 50px;
    justify-content: space-around;	
    

}
#initdiv {
max-width: 1fr;
}